/* Ensure the body covers the full viewport height and removes default margin */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    background-color: #dadada; /* Background color */
    color: #202020; /* Text color */
    font-family: 'Material Symbols Sharp', sans-serif; /* Font family */
    text-align: center; /* Center text within container */
  }
  
  /* Style for the logo */
  #logo {
    margin: 0;
  }
  
  #logo img {
    max-width: 100%; /* Ensure the logo scales well */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
  }
  
  /* Style for the countdown timer */
  #saticountdown {
    font-size: 2em; /* Adjust font size as needed */
    margin-top: 10px; /* Space between logo and countdown timer */
  }
  